{erl_opts, [debug_info]}.
{deps, [
       {cowboy, {git, "https://github.com/ninenines/cowboy.git"}},
       {jsx, {git, "https://github.com/talentdeficit/jsx.git"}},
       {erlanguuid, {git, "https://github.com/avtobiff/erlang-uuid.git"}},
       {amqp_client, {git, "https://github.com/jbrisbin/amqp_client.git"}}
]}.